        body {
            background-image: url(images/bg.png);
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #fff;
            font-family: 'Nunito Sans', sans-serif;
            color: #676C84;
            margin: 5%;
        }
        .container{
            width: 95%;
            margin: 0 auto;
        }
        .copy{
            float: left;
            width: 40%;
        }
        p, h2, h1{
            /*width: 480px;*/
        }
        p, h2{
            font-size: 18px;
            font-weight: 400;
        }
        h2{
            margin-top: 55%;
        }
        h1{
            font-size: 24px;
            font-weight: 700;
            line-height: 1;
            color: #535870;
        }
        .pics{
            width: 60%;
            float: right;
        }
        .pics img{
            /*height: 651px;
            width: 674px;*/
            height: 90%;
            width: 90%;
            float: right;
        }
        a{
            text-decoration: none;
            display: inline-block;
            padding: 16px 36px;
            border: 1px solid #676C84;
            color: #676C84;
            font-weight: 600;
            margin-top: 16px;
        }
        .left{
            float: left;
        }
        .clear{
            clear: both;
        }

        @media only screen and (max-width: 860px) {
            body {
                background-image: url(images/bg.png);
            }
            .pics{
                display: none;
            }
            .copy{
                width: 100%;
                text-align: center;
            }
            h2{
                margin-top: 30%;
            }
        }









.is-hidden { display: none; }

.button-close {
  display: block;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}

.modal-content {
  padding: 20px 30px;
  width: 420px;
  position: relative;
  min-height: 300px;
  margin: 5% auto 0;
  background: #fff;
}







.form-style-1 {
    margin: 0 auto;
    max-width: 100%;
    padding: 20px 12px 10px 20px;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    border: none;
    color: #fff;
    padding: 16px 36px;
    background: #676C84;
    color: #fff;
    font-weight: 400;
    margin-top: 32px;
    font-size: 14px;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #535870;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;

}
.button-close{
    border: none;
    color: #fff;
    padding: 16px 36px;
    background: #fff;
    color: #676C84;
    font-weight: 400;
    margin-top: 32px;
    font-size: 14px;
}




